
{% load static %}
{% block tittle %}
    <h2>Корзина</h2>
{% endblock tittle %}
{% block content %}
    {% for item in cart  %}
       
    <br>
        {{item.product}} <br> цена - {{item.price}} <br> кол-во - {{item.quantity}}<br> всего - {{item.total_price}} <br>
        <a href="remove/{{item.product.id}}">remove</a>
    {% endfor %}
    <br>
     Итого: {{ cart.get_total_price}}
     <br>
    <a href="{% url "orders:order_create" %}" class="button">
        Оформить заказ
    </a>
{% endblock content %}